@import 'tailwindcss';
@plugin "daisyui";
@plugin "daisyui/theme" {
  name: 'corporate';
  default: true;
  prefersdark: false;
  color-scheme: 'light';
  --color-base-100: oklch(100% 0 0);
  --color-base-200: oklch(98% 0 0);
  --color-base-300: oklch(97% 0 0);
  --color-base-content: oklch(20% 0 0);
  --color-primary: oklch(58% 0.233 277.117);
  --color-primary-content: oklch(100% 0 0);
  --color-secondary: oklch(47% 0.137 46.201);
  --color-secondary-content: oklch(100% 0 0);
  --color-accent: oklch(43% 0.078 188.216);
  --color-accent-content: oklch(100% 0 0);
  --color-neutral: oklch(26% 0 0);
  --color-neutral-content: oklch(100% 0 0);
  --color-info: oklch(45% 0.085 224.283);
  --color-info-content: oklch(100% 0 0);
  --color-success: oklch(44% 0.119 151.328);
  --color-success-content: oklch(100% 0 0);
  --color-warning: oklch(85% 0.199 91.936);
  --color-warning-content: oklch(0% 0 0);
  --color-error: oklch(57% 0.245 27.325);
  --color-error-content: oklch(100% 0 0);
  --radius-selector: 1rem;
  --radius-field: 1rem;
  --radius-box: 1rem;
  --size-selector: 0.25rem;
  --size-field: 0.25rem;
  --border: 1px;
  --depth: 1;
  --noise: 0;
}
